#logo{
    font-size:60px;

}
#search{
    width: 300px;
}
#divnav{
    border-radius: 10px;
    width: auto;
}
#h1{
    font-size: 50px;
    
}
#search{
    width: 600px;
    position: relative;
    left: 30%;
}